.detail{
    margin: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}


.detailImg{
    width:30%;
    height:30%;
}


.detailBook{
    margin-left: 10px;
}

h1{
    margin: 10px;
}

p{
    margin: 6px;
    font-size: 20px;

}

.price{
    margin: 6px;
    font-size: 20px;
    border: 2px solid red;
    padding: 3px;
    font-weight: bold;
}

article{
    margin: 10px;
    font-size: 20px;
}
