/* The hero image */
.home{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
}

.hero{
    position: relative;
    width: 100%;
    top: 9%;
    height: auto;
}


@media screen and (max-width: 600px) {
  
.hero{  
  position: relative;
  width: 90%;
  top: 9%;
  height: auto;
}
}

