.form-control {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  hsl(202, 98%, 37%, 0.3);
    border-radius: 20px;
    width: 100vh;  
    margin: auto;  
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 100px;
}

.form_margin_bottom {
    margin-bottom: 10px;
}

.form_margin_bottom {
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {

    .form-control {        
        display: flex;
        flex-direction: column;
        align-items: center;
        background: hsl(202, 98%, 37%, 0.3);
        width: 40%;
        margin-left: 43px;
        margin-top: 10px;
        margin-bottom: 10px;        
        padding: 90px;
        
    }

    .form_margin_bottom {
        margin-bottom: 10px;
    }
    
    .form_margin_bottom {
        margin-bottom: 20px;
    }  
    

}

